<app-slider 
    [nombre]="'Pagina de Pruebas'"
    [size]="'small'"

    ></app-slider>

<div class="center">
    <section id="content">

        <h1 class="subheader">Pagina de Pruebas</h1>

        <div *ngIf="nombre && apellido; then siHayParametros else noHayParametros">

        </div>

        <ng-template #siHayParametros>
            <h2>El nombre es : {{nombre}}</h2>
            <h2>El apellido es : {{apellido}}</h2>
        </ng-template>

        <ng-template #noHayParametros>
            <h2>No hay parametros por url</h2>
        </ng-template>

        <button (click)="redireccion();">Llena mis datos</button>

    </section>
    <app-sidebar></app-sidebar>
</div>